<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Certificados CICTI2019</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/jquery-ui/jquery-ui.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="css/w3css.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

    <div class="main">       
        <div class="header">
            <img src="images/tittle-cicti-2019.png" alt="">
           {{!--  <img src="images/reload.png" class="reload" alt=""> --}}
        </div>
        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    Ingresa tu documento:                               
                    <i class="fa fa-male" aria-hidden="true"></i>
                    <div> 
                      <input type="text" onkeyup="search()" placeholder="Buscar por cedula.." title="Type in a name" style="width:103.5%;"> 
                      <br></br>
                      <button type="button" class="w3-greenSelect" style="width:100%;">Buscar</button>
                    </div>
                    <br></br>
                    <div class="table100 ver2 m-b-110">
                        <div class="table100-head" >
                            <table class="table" id='table'>
                                <thead>
                                    <tr class="row100 head">
                                        <th scope="col"   class="cell100 column1">Documento</th>
                                        <th class="cell100 column2">Certificado</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table100-body js-pscroll">
                            <table id="myTable">
                               <tbody>

                                  
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
        <div class="container">
            <form id="booking-form" class="booking-form" >
                <div class="form-group">
                  <p>Si tienes algún inconveniente durante la generación de tu certificado por favor comunicarte a:</p>
                    <h4><a href="mailto:workshopsalud@sena.edu.co?Subject=certificados-cicti">workshopsalud@sena.edu.co</a>o</h4>
                </div>
            </form>
        </div>
    </div>
    <!-- backtop button -->
    <a id="buttonTop"></a>
      <!-- delete Modal-->
    <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-animate-top w3-card-4">
          <header class="w3-container w3-teal"> 
            <span onclick="document.getElementById('id01').style.display='none'" 
            class="w3-button w3-display-topright">&times;</span>
            <h2>Warnning, do you want to delete a entry?</h2>
          </header>
          <div class="w3-container">
            <button class="w3-red">Cancel</button>
            <button id="selectChange" class="w3-green">Procced</button>
          </div>
        </div>
    </div>
          <!-- delete select Modal-->
    <div id="id01" class="w3-modalSelect">
        <div class="w3-modal-content w3-animate-top w3-card-4">
          <header class="w3-container w3-teal"> 
            <span onclick="document.getElementById('id01').style.display='none'" 
            class="w3-button w3-display-topright">&times;</span>
            <h2>Warnning, do you want to delete multiple entries?</h2>
          </header>
          <div class="w3-container">
            <button class="w3-red">Cancel</button>
            <button id="selectChange" class="w3-greenSelect">Procced</button>
          </div>
        </div>
    </div>
              <!-- fake select Modal-->
    <div id="id01" class="w3-modalFake">
        <div class="w3-modal-content w3-animate-top w3-card-4">
          <header class="w3-container w3-teal"> 
            <span onclick="document.getElementById('id01').style.display='none'" 
            class="w3-button w3-display-topright">&times;</span>
            <h2>How many fakes do you want?</h2>
            <input id="fakestimes" name="fakes"/>
          </header>
          <div class="w3-container">
            <button class="w3-red">Cancel</button>
            <button id="selectChange" class="w3-greenFake">Procced</button>
          </div>
        </div>
    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="js/notify.min.js"></script>
    <script src="js/main.js"></script>

    <script>
    function search() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }
    </script>

    <script>       
        $(function(){
            let apiUrl = 'http://localhost:5000'
            $.notify("Testing server connection ...",{className:"info", position:"right bottom"})
            $.get(apiUrl + '/parking')
                .done(() => $.notify( "Conection stablished", {className:"success", position:"right bottom"}))
                .fail(() => $.notify('Conectenion Failed',{className:"Error", position:"right bottom"}))
        })        
    </script>  
</body>
</html>

