<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Certificados CICTI2019</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/jquery-ui/jquery-ui.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="css/w3css.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

    <div class="main">       
        <div class="header">
            <img src="images/tittle-cicti-2019.png" alt="">
           {{!--  <img src="images/reload.png" class="reload" alt=""> --}}
        </div>
        <div class="jumbotron">  
            <div class="container">
                <div id="message"></div>
                <br></br>
                Ingresa tu documento:                               
                <i class="fa fa-male" aria-hidden="true"></i>
                <input type="text" id="input-id"  placeholder="Buscar por cedula.." title="Type in a name"> 
                <br></br>
                <button type="button" class="w3-greenSelect btn-buscar" style="width:96.5%;">Buscar</button>
                <br></br>
                <div class="table100 ver2 m-b-110">
                    <div class="table100-head" >
                        <table class="table" id='table'>
                            <thead>
                                <tr class="row100 head">
                                    <th scope="col"   class="cell100 column1">Documento</th>
                                    <th class="cell100 column2">Certificado</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table100-body js-pscroll">
                        <table id="myTable">
                          <tbody id="tbody"></tbody>
                        </table>
                    </div>
                </div>
            </div>                
        </div>
        <div class="jumbotron">
            <form id="booking-form" class="booking-form" >
                <div class="form-group">
                  <p>Si tienes algún inconveniente durante la generación de tu certificado por favor comunicarte a:</p>
                    <h4><a href="mailto:workshopsalud@sena.edu.co?Subject=certificados-cicti">workshopsalud@sena.edu.co</a></h4>
                </div>
            </form>
        </div>
    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="js/notify.min.js"></script>
    <script src="js/main.js"></script>

    <script>
    function search() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }
    </script>

    <script>
      $(".btn-buscar").click(function(){
        let input = $("#input-id").val()
        let apiUrl = 'http://localhost:3000'
        $("#message").empty()
        $("#tbody").empty()
        $.ajax({
          url: apiUrl+`?id=${input}`,
          crossDomain:true,
          success: function(res) {
            if (res == "Identificacion no encontrada ponte en contacto"){
              $.notify( "Identificacion No encontrada, ponte en contacto con soporte.", {className:"info", position:"left top"})
            }else{
              $.notify( "Identificacion encontrada, descargar tu certificado", {className:"success", position:"left top"})
              $("#tbody").append(`<tr class="row100 body">
                                    <td scope="row" class="cell100 column1">${res.id}</td>
                                    <td class="cell100 column2"><a class="link" href="${res.url}" target="_blank" download>Descargar</a></td>
                                  </tr>`)
            }
          },
          error: function() {
                console.log("No se ha podido obtener la información");
          }
        });
      })
    </script>

</body>
</html>

